configuration {
    modi:                       "drun,run";
    show-icons:                 false;
    display-drun:               "";
    display-run:                "";
    drun-display-format:        "{name}";
    disable-history:            false;
    sidebar-mode:                false;
}

@theme "gruvbox-material"